* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #011f26;
}

h1 {
    position: relative;
    font-size: 8em;
    color: #025e73;
    text-transform: uppercase;
    border-bottom: 16px solid #025e73;
    letter-spacing: 0.05em;
    line-height: 1.2em;
}

h1::before {
    width: 100%;
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    color: #0fc2c0;
    overflow: hidden;
    border-bottom: 16px solid #0fc2c0;
    animation: animate 10s linear infinite;
}

@keyframes animate {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}